<table border="1" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let book of books">

            <th>
            <img [src]="book.image_url" height="70">
            </th>

            <th>{{book.name}}</th>
            <th>{{book.description}}</th>
            <th>{{book.unitPrice | currency: "KES"}}</th>


        </tr>
    </tbody>
</table>